* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.currency-converter {
  background-color: red;
}

.news-feed {
  background-color: blue;
  height: 400px;
  width: 50%;
}

.exchange-rate {
  background-color: green;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

}